[submodule ".registry"]
	path = .registry
	url = https://github.com/bymaxanjos/bymaxanjos.r-universe.dev
	branch = HEAD
[submodule "climasus4r"]
	path = climasus4r
	url = https://github.com/ByMaxAnjos/climasus4r
